.errorPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .errorButton {
    width: fit-content;
    padding: 0.65rem 1.25rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    border: 1px solid hsl(var(--border));
    font-size: 1rem;
  }
}
